<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- Not used, but helps give reference to the environment-->
    <add key="Environment" value="Local" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <!-- Should be specific to an environment -->
    <add key="AppName" value="SquirrelApp-Local" xdt:Locator="Match(key)" xdt:Transform="Replace" />
    <!-- should match the host name found in the local.xml -->
    <add key="SquirrelUpdatePath" value="http://SquirrelApp-local.example.com/releases" xdt:Locator="Match(key)" xdt:Transform="Replace"  />
  </appSettings>
</configuration>